



/*responsividade*/

@media screen and (max-width: 768px ) {
    .box .inputHora {
    font-size: 60px; 
    margin: 0;
    height: 70px;
    position: relative;        
    }
}

@media screen and (max-width: 768px ) {
    .box .inputData {
    font-size: 40px;        
    margin: 0;
    bottom: 20px;    
    }
}

@media screen and (max-width: 768px) {
    .main .container{
        height: 260px;
        width: 260px;        
    }
}


@media screen and (max-width: 768px) {
    .main2 .container{
        height: 260px;
        width: 260px;        
    }
}

@media screen and (max-width: 768px) {
    .bt{
        top: -30px !important;
        left: 100px !important;
        margin: 3px;
    }
}

@media screen and (max-width: 768px) {
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px !important;
        font-weight: 600 !important;
        border: solid 1px black;
        height: 22px !important;
        width: 52px !important;
        align-items: center !important;
        margin: 0 !important;
    }
}

/*=============================================================*/

/*Reset*/
*{
    margin: 0;
    padding: 0;
    outline: none;
    overflow: hidden;
        
}
 
.content{
    margin: 0;
    padding: 0;
    outline: none;
    overflow: hidden;
    box-sizing: border-box;
    

}

/*==============================================================*/

/*Classes ***MAIN e MAIN2*** responsaveis pela troca de imagens*/
 .main  {
    height: 100vh;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-image: url(img/img2.jpg);
    background-repeat: no-repeat;    
    background-position: center center;    
}


 .main2 {
    height: 100vh;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-image: url(img/marcozerodia.jpg);
    background-repeat: no-repeat;    
    background-position: center center;
    z-index: 5;
}



.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: 300px;
    width: 600px;   
    backdrop-filter: blur(1.5px);

}

.box{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;   
    bottom: 20px;
    
    
}


/*Classes ***INPUTHORA e INPUTDATA*** responsaveis pela troca da cor da fonte*/

.inputHora {
    margin: 0px;
    height: 120px;
    width: 485px;
    font-size: 120px;
    color: white;   
    align-items: center;
    text-align: center;
    background-color: transparent;    
    border: none;    
   
    
}

 .inputData {
    margin: 10px;
    height: 60px;
    width: 400px;
    font-size: 60px;   
    color: white;
    align-items: center;
    text-align: center;
    background: transparent;  
    border: none;
}

.inputHora1{
    margin: 0px;
    height: 120px;
    width: 485px;
    font-size: 120px;
    color: rgb(0, 0, 0);   
    align-items: center;
    text-align: center;
    background-color: transparent;    
    border: none; 

}

.inputData1 {
    margin: 10px;
    height: 60px;
    width: 400px;
    font-size: 60px;   
    color: rgb(0, 0, 0);
    align-items: center;
    text-align: center;
    background: transparent;  
    border: none;
    

}

/*=================================================================*/

.bt{
    
    left: 255px;    
    position: relative;
    bottom: 15px;
}


.bt :hover {
    background-color: rgb(163, 163, 163);
    color: rgb(0, 0, 0);
}

 button{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    text-align: center;    
    width: 80px;
    height: 25px;
    top: 330px;
    left: 1310px;
    font-size: large;    
    color: #3f3434;
    border-radius: 15px;
    text-align: center;
    margin: 2px;
    
}

